/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

@font-face {
  font-family: "Goldman";
  src: url(../fonts/Goldman-Regular.ttf);
}

/*body and fonts*/
body {
  background-color: #141414;
  margin: 0;
  overflow-x: hidden;
}

h2 {
  font-family: "Goldman";
  font-weight: lighter;
  text-align: center;
  color: #5CAFFD;
}

h3 {
  font-family: 'inter', sans-serif;
  color: #5CAFFD;
}

li + p {
  margin-top: 2%;
  margin-bottom: 10%;
}

li {
  font-family: 'inter', sans-serif;
  font-size: large;
  font-weight: 600;
  color: #5CAFFD;
}

p {
  font-family: 'inter', sans-serif;
  font-size: medium;
  font-weight: 300;
  color: #ffffff;
  line-height: 1.5;
}

a {
  font-family: 'inter', sans-serif;
  font-weight: 600;
  text-align: left;
  font-style: italic;
}
/*
label {
  margin: 0 40px 0 0;
  font-size: 25px;
  line-height: 50px;
  display: none;
}

#toggle {
  display: none;
}*/

.shop {
  height: 20px;
  width: 20px;
}

.logo {
  position: absolute;
  width: 100px;
  height: 60px;
  margin-left: 25px;
}

/*Top navigation bar menu*/
.topnav {
  background-color: #000000;
  overflow: hidden;
  position: fixed;
  padding: 5px;
  top: 0;
  width: 100%;
}

.topnav a {
  width: 200px;
  margin-right: 10px;
  float: right;
  color: #00ffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #00ffff;
  color: #000000;
  transition: 0.5s;
  border-radius: 10px;
}

.topnav a:active {
  background-color: #f0f8ff;
  color: #ffffff;
}

@media (max-width: 1300px) {
  .topnav a {
    width: 150px;
  }
}

@media (max-width: 1130px) {
  .topnav a {
    width: 120px;
  }
}
/*
@media (max-width: 960px) {
  .topnav a {

  }
}*/

.container {
  max-width: 100%;
}

/*automatic image show*/
.wrapper {
  width: 100vw;
  height: 100vh;
  animation: slide 15s infinite;
  background-repeat: no-repeat;
}

img {
  width: 100%;
  background-repeat: no-repeat;
}

@keyframes slide {
  0% {
    background-image: url(../images/GameHub_ZeldaBotw.jpg);
    background-size: 100%;
  }
  33% {
    background-image: url(../images/GameHub_Forspoken.jpg);
    background-size: 100%;
  }
  66% {
    background-image: url(../images/GameHub_EldenRing.jpg);
    background-size: 100%;
  }
  100% {
    background-image: url(../images/GameHub_ZeldaBotw.jpg);
    background-size: 100%;
  }
}

/*website description*/
.txtwrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

#overT {
  background-color: #3ED3F3;
  width: 200px;
  height: 3px;
  border: none;
}
#desc {
  text-align: center;
  color: #3ED3F3;
}
#underT {
  background-color: #3ED3F3;
  width: 300px;
  height: 3px;
  border: none;
}

/*Media querries for container in general*/
@media (max-width: 1300px) {
  .txtwrapper {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/*Lower side of page*/
.middleWrap {
  background-image: linear-gradient(#0E253A, #141414);
}

.newsBox {
  background-color: #1E1E1E;
  display: flex;
}

.left {
  background-color: #141414;
  width: 35%;
  padding: 1% 2% 1% 2%;
}

/*Newest games*/
.introRow {
  margin-left: 5%;
  padding-top: 10px;
  padding-left: 1%;
}

#news {
  font-family: "Goldman";
  text-align: left;
  padding: 2% 0 0 2%;
}

.right {
  overflow: hidden;
  flex-direction: column;
  display: flex;
  margin-left: 1%;
}

.imgRow {
  display: flex;
  overflow: hidden;
  padding: 2% 1% 10% 6%;
}

/*The switch game*/
.swDesc {
  position: relative;
}

.switchGames {
  height: 400px;
  width: 250px;
  padding-left: 10px;
  border-right: 10px solid #000000;
}

.swtxt {
  position: absolute;
  padding-left: 20px;
  line-height: 1px;
  width: 240px;
  background-color: #000000;
  left: 10px;
  top: 400px;
}

.swdetails {
  color: #00ffff;
}

/*The playstation game*/
.psDesc {
  position: relative;
}

.psGames {
  height: 400px;
  width: 300px;
  padding-left: 20px;
  border-right: 10px solid #000000;
}

.pstxt {
  position: absolute;
  padding-left: 20px;
  line-height: 1px;
  width: 290px;
  background-color: #000000;
  left: 20px;
  top: 400px;
}
.psdetails {
  color: #00ffff;
}

.salesbox {
  margin-top: 40px;
  margin-left: 50px;
  width: 590px;
  background-color: #0E253A;
}

.salestxt {
  text-align: center;
  padding-left: 20px;
  color: #00ffff;
}