@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

@font-face {
  font-family: "Goldman";
  src: url(../fonts/Goldman-Regular.ttf);
}

/*body and fonts*/
body {
  background-color: #141414;
  margin: 0;
  overflow-x: hidden;
}

h2 {
  font-family: "Goldman";
}

h3 {
  font-family: 'inter', sans-serif;
  font-size: larger;
  color: #5CAFFD;
}

li + p {
  margin-top: 2%;
  margin-bottom: 10%;
}

li {
  font-family: 'inter', sans-serif;
  font-size: large;
  font-weight: 600;
  color: #5CAFFD;
}

p {
  font-family: 'inter', sans-serif;
  font-size: medium;
  font-weight: 300;
  color: #ffffff;
  line-height: 1.5;
}

a {
  font-family: 'inter', sans-serif;
  font-weight: 600;
  text-align: left;
  font-style: italic;
}

/*Top navigation bar menu*/
.topnav {
  background-color: #000000;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav a {
  float: left;
  color: #00ffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #00ffff;
  color: #000000;
}

.topnav a:active {
  background-color: #f0f8ff;
  color: #ffffff;
}

.container {
  max-width: 100%;
}

/*website description*/
#desc {
  text-align: center;
  color: #3ED3F3;
}

#overT {
  background-color: #3ED3F3;
  width: 12%;
  height: 3px;
  border: none;
}
#underT {
  background-color: #3ED3F3;
  width: 20%;
  height: 3px;
  border: none;
}

/*Middle of page*/
.middleWrap {
  /*background-color: #0E253A;*/
  background-image: linear-gradient(#0E253A, #141414);
}
h2 {
  font-family: "Goldman";
  font-weight: lighter;
  text-align: center;
  color: #5CAFFD;
}

.newsBox {
  background-color: #1E1E1E;
  margin-bottom: 2%;
  margin-right: 1%;
}

.textBox {
  background-color: #141414;
  width: 30%;
  padding: 1%;
  margin-bottom: 2%;
}

/*automatic image show*/
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  animation: slide 10s infinite;
}

img {
  width: 100%;
}

@keyframes slide {
  0% {
    background-image: url(../images/GameHub_ZeldaBotw.jpg);
    background-size: 100%;
  }
  33% {
    background-image: url(../images/GameHub_Forspoken.jpg);
    background-size: 100%;
  }
  66% {
    background-image: url(../images/GameHub_EldenRing.jpg);
    background-size: 100%;
  }
  100% {
    background-image: url(../images/GameHub_ZeldaBotw.jpg);
    background-size: 100%;
  }
}